GOOGLE_SHEET_ID="xxxxxxx"
GSHEET_WORKSHEET_NAME="TRANSCRIPT FINAL"
GOOGLE_SHEETS_CREDS_FILE="service-account.json"
GOOGLE_SERVICE_ACCOUNT_EMAIL="xxxxxx-compute@developer.gserviceaccount.com"

# Whisper model settings
WHISPER_MODEL="base.en"
COMPUTE_TYPE="int8"
DEVICE="cpu"

# Google Sheets API settings
GOOGLE_SHEETS_SCOPES="https://www.googleapis.com/auth/spreadsheets"

# VideoAsk Webhook Configuration
VIDEOASK_GOOGLE_SHEET_ID="xxxxxxxxxxxxx"
VIDEOASK_GSHEET_WORKSHEET_NAME="TRANSCRIPT FINAL"
